[user]
  name = Jérémie Astori
  # Forces user.email and user.name configuration variables to always be set
  # when committing, useful when using multiple email addresses.
  useconfigonly = true
[commit]
  gpgsign = true
[branch]
  # When a new branch is created with git branch or git checkout that tracks
  # another branch, this variable tells Git to set up pull to rebase instead of
  # merge. When always, rebase will be set to true for all tracking branches.
  autosetuprebase = always
[push]
  default = current
[alias]
  # Identities
  cht = "!git config user.email \"jeremie@cloudhealthtech.com\" && git config user.signingkey 2262DE79D3DD50EF"
  vmw = "!git config user.email \"jastori@vmware.com\" && git config user.signingkey D7886A3A7B0F1735"
  perso = "!git config user.email \"jeremie@astori.fr\" && git config user.signingkey B9A4F245CD67BDE8"

  pl = pull
  ph = push
  phu = push -u
  phf = push --force-with-lease

  # Staging
  ap = add -p

  # Commit
  ca = commit --amend --no-edit
  ci = commit --message

  # Checkout
  cb = "!f() { git checkout -b astorije/$@; }; f"
  cm = checkout main
  co = checkout

  # Branch
  delete-merged = "!git branch --merged | grep -v \"^\\s*main$\" | grep -v \"\\*\" | xargs -n 1 git branch -d"
  dm = !git delete-merged
  pru = remote prune origin

  # Rebase
  rb = rebase
  rbm = rebase main
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rim = rebase --interactive main

  st = status

  staged = diff --staged

  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
  # Enables a heuristic to make the patch output more readable by using a blank
  # line as a strong hint that the contents before and after it belong to
  # logically separate units. It is still experimental.
  compactionHeuristic = true
[diff-so-fancy]
  # Do not color the first block of an empty line.
  markEmptyLines = false
  # Do not remove the pesky + or - at line-start.
  stripLeadingSymbols = false
[color "diff"]
  meta = yellow # Default is white
  frag = magenta # Default is cyan
[color "diff-highlight"]
  oldNormal = red
  newNormal = green
  oldHighlight = "#dd0000 #550000" # Default is red reverse
  newHighlight = "green #004400" # Default is green reverse
[color "status"]
  untracked = yellow # Default is red
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/GitHub/astorije/"]
  path = .gitconfig_perso
[includeIf "gitdir:~/GitHub/CloudHealth/"]
  path = .gitconfig_vmw
[includeIf "gitdir:~/GitHub/thelounge/"]
  path = .gitconfig_perso
[includeIf "gitdir:/private/var/folders/"]
  path = .gitconfig_vmw
[hub]
  protocol = https
