[mysqld]
# This is to avoid the following issue, which has to do with opening many tables
# simultaneously and exceeding OSX low-level IO limits:
# > Lost connection to MySQL server at 'sending authentication information',
# > system error: 32
table_definition_cache = 400
table_open_cache = 400

default-time-zone='+00:00'

# This is to avoid the following issue when trying to set up / seed a testing DB
# at CHT:
# > Mysql2::Error: Incorrect datetime value: '<date>' for column 'created_at'...
sql_mode=NO_ENGINE_SUBSTITUTION
max_allowed_packet = 128M

[mysql]
# Sets a custom prompt. Example: `user@localhost (my_database) > `
prompt = "\\U (\\d) >\\_"
